doctype html
html
	head
		meta(charset="utf-8")
		meta(name="viewport" content="width=device.width, ititial-scale=1")
		link(rel="stylesheet" type="text/css" href="/css/bootstrap.min.css")
		link(rel="stylesheet" type="text/css" href="/css/style.css")
	body
		div(class="navbar navbar-inverse")
			div(class="customNav")
				h2 My Site
		h2 Hello
		block content		
	script(src='/js/jquery-1.11.3.min.js')
	script(src='/js/bootstrap.min.js')
	script(src='/js/main.js')
	script(src='/js/index.js')
	